extends layout

block content
  h1= ATR
  p Welcome to Automated Test Reports

  // Wrapper
  #wrapper

    // USER LIST
    
    #userList
      table
        thead
          th UserName
          th Email
          th Delete?
        tbody
    // /USER LIST


  // /WRAPPER